# ENVIRONMENT & CONFIG
.env
*.env
.env.*

# ENVIRONMENT FOLDERS
.venv/
venv/

# PYTHON
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/
*.pyd
*.pyo

# JUPYTER
.ipynb_checkpoints

# VSCODE / IDE
.vscode/
.idea/

# DATABASE / SQLITE (jaga-jaga)
*.db
*.sqlite3

# LOG / TEMP FILES
*.log
*.bak
*.tmp

# OS / SYSTEM FILES
.DS_Store
Thumbs.db

# TEST / COVERAGE
coverage/
*.cover
*.py,cover
.hypothesis/

# GIT BACKUP
*.orig

# OTHER (if using Streamlit or web)
node_modules/
